main {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .classe {
        h1 { 
            // position: absolute;
            // width: 365px;
            // height: 60px;
            // left: 0px;
            // top: 0px;
    
            font-family: Righteous;
            font-style: normal;
            font-weight: normal;
            font-size: 48px;
            line-height: 60px;
            /* identical to box height */
    
            display: flex;
            align-items: center;
            text-align: center;
    
            color: #717171;
        }
        .aulaslider {
            .sliderlist {
                padding: 20px;
                display: flex;
                flex-direction: row;
                list-style-type: none;
    
                background: #F4ECDC;
                border-radius: 4px;
                .aula {
                    margin: 0px 15px;
                    cursor: pointer;
                    &:hover {
                        opacity: 70%;
                    }

                    .thumbnail {
                        width: 300px;
                        height: 300px;
                    }
                }
            }
        }
    }

    .aulaspopup {
        z-index: 99999;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000, $alpha: 0.4);
        // opacity: 50%;
        #popup {
            font-family: Arial;
            
            padding: 20px;
            position: absolute;
            background-color: white;
            border-radius: 7px;
            opacity: 100%;
            margin: 0;
            top: 10%;
            left: 50%;
            // transform: translateY(-50%);
            transform: translateX(-50%);
        }
    }
}